version: 2
updates:
  - package-ecosystem: "pip"
    directory: "/"
    schedule:
      interval: "daily"
    # Allow up to 2 open pull requests at a time
    open-pull-requests-limit: 2
    allow:
      - dependency-name: "timm"
        dependency-type: "all"