name: tests
on:
  push:
    branches:
    - main
    - release**
  pull_request:
    branches:
    - main
    - release**
jobs:
  pytest:
    name: pytest
    runs-on: ${{ matrix.os }}
    env:
      MPLBACKEND: Agg
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        python-version: ['3.9', '3.10', '3.11']
    steps:
    - name: Clone repo
      uses: actions/checkout@v4.1.1
    - name: Set up python
      uses: actions/setup-python@v5.0.0
      with:
        python-version: ${{ matrix.python-version }}
    - name: Cache dependencies
      uses: actions/cache@v4.0.0
      id: cache
      with:
        path: ${{ env.pythonLocation }}
        key: ${{ env.pythonLocation }}-${{ hashFiles('requirements/required.txt') }}-${{ hashFiles('requirements/tests.txt') }}
      if: ${{ ! (runner.os == 'macOS' && matrix.python-version == '3.11') }}
    - name: Setup headless display for pyvista
      uses: pyvista/setup-headless-display-action@v2
    - name: Install pip dependencies
      if: steps.cache.outputs.cache-hit != 'true'
      run: |
        pip install -r requirements/required.txt -r requirements/tests.txt
        pip cache purge
    - name: List pip dependencies
      run: pip list
    - name: Run pytest checks
      run: |
        pytest --cov=torchseg --cov-report=xml --durations=10
    - name: Report coverage
      uses: codecov/codecov-action@v3.1.4
      with:
        token: ${{ secrets.CODECOV_TOKEN }}
concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.head.label || github.head_ref || github.ref }}
  cancel-in-progress: true