
# This workflow will install Python dependencies, run tests and lint with a variety of Python versions
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:

  style:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip uv
          python -m uv pip install ruff==0.6.3
      # Update output format to enable automatic inline annotations.
      - name: Run Ruff Linter
        run: ruff check --output-format=github
      - name: Run Ruff Formatter
        run: ruff format --check

  test:
    runs-on: ubuntu-latest
    needs: [style]
    steps:
    - uses: actions/checkout@v4
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v5
      with:
        python-version: 3.11
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip uv
        python -m uv pip install torch==2.4.0+cpu torchvision==0.19.0+cpu -f https://download.pytorch.org/whl/torch_stable.html
        make install_dev
    - name: Test with pytest
      run: make test

